.carousel {
  /* background-color: pink; */
  overflow: hidden;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #dadada;
  border-radius: 20px;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05); */
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  height: auto;

  /* background-color: blue; */
}

.carousel-img {
  /* background-color: aqua; */
  width: 200px;
  /* height: auto; */
  padding: 20px 20px 0 20px;
}

.carousel-buttons {
  display: flex;
  justify-content: space-evenly;
}

.button-arrow {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
}

.indicator-buttons {
  border: none;
  cursor: pointer;
}

.indicators > button {
  margin: 5px;
  background: none;
}

.indicator-symbol {
  color: grey;
  transition: color 0.2s ease;
  color: rgb(233, 233, 233);
}

.indicator-symbol-active {
  color: #26343f;
}

.no-images-carousel {
  /* background-color: pink; */
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
