.post-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-details-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: #f0f0f0 1px solid;
  border-radius: 10px;
}

.post-container {
  /* margin: 10px; */
  display: flex;
  flex-direction: row;
  border-radius: 3px;
}

.text-details-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  margin: 0 5px;
}

.post-details-title {
  margin: 0;
  font-size: 1.8em;
  font-weight: 500;

  margin-bottom: 10px;
}

.post-details-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 5px;
}

.username {
  font-weight: 400;
  margin-right: 5px;
  font-size: 0.9em;
}

.post-caption {
  display: flex;
  flex-direction: row;
  font-size: 0.9em;
}

.post-details-pfp {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.items-container {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
}

.items-details {
  /* background-color: lightblue; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 5px;
}

.num-likes {
  font-size: 0.9em;
  margin-left: 5px;
}

.icons-container {
  margin-right: 5px;
}

.options-menu {
  /* background-color: rgb(253, 253, 253); */

  border: 1px solid #f0f0f0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  padding: 5px 5px;

  margin-bottom: 10px;
}

.options-item {
  width: 120px;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;

  font-size: 0.9em;
  font-weight: 500;
}

.options-item:hover {
  background-color: #f0f0f0;
}

.post-heart.postDetails-heart,
.post-options {
  font-size: 1.3em;
  padding: 5px;
  margin-left: 5px;
}

.post-options {
  cursor: pointer;

  border-radius: 50%;
  transition: 0.1s ease;
  /* background-color: rgb(192, 192, 192); */
}

.comment-container {
  /* background-color: blue; */
  width: 100%;
}
.comment-box {
  width: 258px;
  margin-right: 10px;
  font-family: sans-serif;
  padding: 10px;

  border-radius: 10px;
  resize: none;
}
